<h1>Step 2. Check the <i>graph</i> and edit it if necessary.</h1>
<div id="lodqa-pgp" class="hidden"><%= @pgp.to_json %></div>

<div id="graph-editor-graph"></div>

<h1>Step 3. Find the <i>terms</i> for each part of the graph.</h1>

<div id="graph-editor-table"></div>

<script src="js/vender/jsplumb/dist/js/dom.jsPlumb-1.7.8.js"></script>
<script src="js/vender/grapheditor/index.js"></script>
