<nav id="main-nav">
  <ul>
    <li><a id="mode-switch" href="#">Expert</a></li>
    <li><a href="<%= settings.target_db %>">Targets</a></li>
    <li><a href="http://www.lodqa.org/docs/intro/">Doc</a></li>
    <li><a href="https://github.com/lodqa/lodqa">Github</a></li>
    <% if session[:email] == nil %>
      <li><a href="<%= Lodqa::Oauth::SIMPLE[:login] %>">Login</a></li>
    <% else %>
      <li><a href="<%= Lodqa::Oauth::SIMPLE[:logout] %>">Logout</a></li>
    <% end %>
  </ul>
</nav>
