<h1>Step 1. Enter a <i>query</i> and parse it.</h1>

<form	id="nlqform"
    action="/"
    method="get"
    entype="multipart/form-data">

    <input name="query" id="query" type="text"
        required="required"
        <% if @query %>
        value="<%= @query %>"
        <% end %>
        placeholder="Enter a natural language query." />

    <a id="button-show-queries" title="Sample queries" class="button"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
    <input name="target" type="hidden" />
    <input id="endpoint-url" type="hidden" />
    <input id="need-proxy" type="hidden" />
    <input id="graphicateButton" class="button" type="submit" value="Parse it!" />
    <button id="search-button" class="button">search</button>
    The timeout value for sparql query:<input type="number" min="1" max="180" value="<%= @read_timeout %>" name="read_timeout">(s)
</form>
