<h1>Natural Language Query
<i title="Begin with a natural language query, then graphicate it!" class="help-icon fa fa-info-circle"></i>
</h1>
<form	id="nlqform"
    action="/graphicator"
    method="get"
    entype="multipart/form-data">

    <input name="query" id="query" type="text"
        required="required"
        <% if @query %>
        value="<%= @query %>"
        <% end %>
        placeholder="Enter a natural language query." />

    <button class="dashboard__exapmle-button" type="button"/>example</button>
    <input name="target" type="hidden" />
    <input id="endpoint-url" type="hidden" />
    <input id="need-proxy" type="hidden" />
    <input id="graphicateButton" type="submit" value="Graphicate!" />
</form>
