<h1>Graph Finder</h1>
<input id="beginSearch" type="button" value="Begin Search"></input>
<input id="stopSearch" type="button" value="Stop Search" class="hidden"></input>
<label><input id="verbose" type="checkbox">verbose</label>
