{
    "rules": {
        "indent": [
            1,
            2
        ],
        "quotes": [
            1,
            "single"
        ],
        "linebreak-style": [
            1,
            "unix"
        ],
        "semi": [
            1,
            "never"
        ],
        "no-console": [
            0
        ],
        "no-var": [
            1
        ],
        "prefer-const": [
            1
        ],
        "one-var": [
            1,
            "never"
        ],
        "prefer-arrow-callback": [
            1
        ],
        "func-style": [
            1,
            "declaration",
            {"allowArrowFunctions": true}
        ],
        "prefer-destructuring": [
            1
        ],
        "prefer-template": [
            1
        ],
        "template-curly-spacing": [
            1,
            "never"
        ]
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jquery": true
    },
    "extends": "eslint:recommended",
    "parserOptions" : {
        "ecmaFeatures": {
            "modules": true
        }
    }
}
