version: '3'
services:
  uri-forwarding-db:
    build: https://github.com/lodqa/uri-forwarding-db.git

  lodqa_bs:
    build: https://github.com/lodqa/lodqa_bs.git
    ports:
      - 81:3000

  lodqa:
    build: .
    ports:
      - 80:9292
    volumes:
      - .:/app
    environment:
      - LODQA=http://lodqa:9292
      - LODQA_BS=http://lodqa_bs:3000
      - URL_FORWARDING_DB=http://uri-forwarding-db:3000
      - URL_AUTH=https://accounts.google.com/o/oauth2/auth
      - URL_USERINFO=https://www.googleapis.com/oauth2/v1/userinfo
      - URL_TOKEN=https://accounts.google.com/o/oauth2/token
      - CLIENT_ID=1090809463773-aphb48v6bg0tnhq2cgr301qvm90rtae4.apps.googleusercontent.com
      - CLIENT_SECRET=_lWA_yX1WqE1iOw5e0GU8oWO
      - SCOPE=email
    depends_on:
      - uri-forwarding-db
      - lodqa_bs
