<h1>Query</h1>
<div class="atext"><%= @query %></div>

<h1>Parsing result (by <a href="http://kmcs.nii.ac.jp/enju/">Enju</a>)</h1>
<div id="lodqa-parse_rendering"><%= @parse_rendering %></div>

<h1>PGP (pesudo graph pattern)</h1>
<div id="lodqa-pgp"><%= @pgp.to_json %></div>

<h1>Lexical mapping result</h1>
<div id="lodqa-mappings"><%= @mappings.to_json %></div>

<input id="beginSerach" type="button" value="Begin Search"></input>

<h1>Search results</h1>
<div id="lodqa-messages"></div>
<div id="lodqa-results"></div>

<script src="js/vender/springy/springy.js"></script>
<script src="js/vender/jQuery/dist/jquery.min.js"></script>
<script src="js/vender/eventemitter2/lib/eventemitter2.js"></script>
<script src="js/vender/springy/springyui.js"></script>
<script src="js/lodqa-client.js"></script>
