<h1>Query</h1>
<div class="atext"><%= @query %></div>

<h1>Parse Rendering</h1>
<div id="lodqa-parse_rendering"><%= @parse_rendering %></div>

<h1>PGP</h1>
<div id="lodqa-parse_rendering"><%= @pgp %></div>

<h1>Mappings</h1>
<div id="lodqa-mappings"><%= @mappings %></div>
