<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LODQA : Question-Answering over Linked Open Data</title>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
        <link href="js/vender/codemirror/lib/codemirror.css" rel="stylesheet">
        <link href="css/lodqa.css" media="screen" rel="stylesheet" type="text/css">
        <link href="css/answer.css" media="screen" rel="stylesheet" type="text/css">
        <link href="js/vender/font-awesome/css/font-awesome.css" rel="stylesheet">

        <script src="js/vender/codemirror/lib/codemirror.js"></script>
        <script src="js/vender/codemirror/mode/sparql/sparql.js"></script>
        <script src="js/vender/codemirror/addon/wrap/hardwrap.js"></script>
        <script src="js/vender/Springy/springy.js"></script>
        <script src="js/vender/jQuery/dist/jquery.min.js"></script>
        <script src="js/vender/Springy/springyui.js"></script>
        <script src="js/vender/eventemitter2/lib/eventemitter2.js"></script>
    </head>
    <body>
        <div id="dashboard" class="dashboard frame">
            <%= erb :dashboard %>
            <% if !@query.nil? %>
            <div class="answer-index">
                <div class="hidden">
                    <div id="pgp"><%= @pgp.to_json %></div>
                    <div id="mappings"><%= @mappings.to_json %></div>
                </div>
                <div>
                    Show below results of '<%= @query %>':
                </div>
                <div>
                    <input type="checkbox" id="show-only-has-answers">
                    <label for="show-only-has-answers">Show only sparqls with answers</label>
                </div>
                <div id="progress-bar"></div>
                <div id="answer-index"></div>
                <div id="download">
                  <a id="download-json-button" class="button" download="answer.json"><i class="fa fa-download" aria-hidden="true"></i> download json</a>
                </div>
                <div id="lightbox" class="hidden">
                    <p>Click to close</p>
                    <div class="content"></div>
                </div>
            </div>
            <% end %>
        </div>
    </body>
    <% if !@query.nil? %>
    <script type="text/javascript" src="js/answer.js"></script>
    <% end %>
</html>
