<h1>Examples</h1>
<ul class="sample-queries">
	<li><a href="#">Which genes are associated with Endothelin receptor type B?</a></li>
	<li><a href="#">Which genes are associated with subtypes of rickets?</a></li>
	<li><a href="#">Which diseases are associated with SAR1B?</a></li>
	<li><a href="#">What genes are associated with alzheimer disease?</a></li>
	<li><a href="#">What drugs are used for diseases associated with the gene ALD?</a></li>
	<li><a href="#">What drugs are associated with strokes and arthrosis?</a></li>
</ul>
