<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LODQA : Question-Answering over Linked Open Data</title>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
        <link href="js/vender/codemirror/lib/codemirror.css" rel="stylesheet">
        <link href="css/lodqa.css" media="screen" rel="stylesheet" type="text/css">
        <link href="js/vender/font-awesome/css/font-awesome.css" rel="stylesheet">

        <script src="js/vender/codemirror/lib/codemirror.js"></script>
        <script src="js/vender/codemirror/mode/sparql/sparql.js"></script>
        <script src="js/vender/codemirror/addon/wrap/hardwrap.js"></script>
        <script src="js/vender/Springy/springy.js"></script>
        <script src="js/vender/jQuery/dist/jquery.min.js"></script>
        <script src="js/vender/Springy/springyui.js"></script>
        <script src="js/vender/eventemitter2/lib/eventemitter2.js"></script>

        <style media="screen">
            .answer-index {
                margin: 40px 10px;
            }
            #progress-bar .sparqls {
                background-color: #222288;
                border-radius: 3px;
                display: flex;
                flex-wrap: wrap;
                list-style-type: none;
                margin: 0 -9px;
                padding: 0;
            }
            #progress-bar .sparql {
                background-color: darkgray;
                margin: 2px;
                padding: 1px 2px;
            }
            #progress-bar .sparql.no-answer {
                background-color: darkgray;
            }
            #progress-bar.show-only-has-answers .sparql.no-answer {
                display: none;
            }
            #progress-bar .sparql.has-answer {
                background-color: white;
                cursor: pointer;
            }
            #progress-bar .sparql-number {
                display: inline-block;
                min-width: 2.1em;
            }
            #progress-bar .number-of-answers {
                display: inline-block;
                min-width: 1.3em;
                text-align: right;
            }
            #progress-bar .number-of-answers .fa-spinner {
                color: mediumvioletred;
            }
            #answer-index .solution {
                display: flex;
            }
            #answer-index .answer {
                width: 300px;
            }
            #answer-index .sparqls {
                display: flex;
                flex-wrap: wrap;
                list-style-type: none;
                margin: 0 1em;
                padding: 0;
            }
            #answer-index .sparql {
                margin: 0 0.1em;
                min-width: 2em;
            }
            #lightbox {
                background: rgba(0,0,0,.7);
                height: 100%;
                left: 0;
                overflow-x: scroll;
                position: fixed;
                top: 0;
                width: 100%;
            }
            #lightbox.hidden {
                display: none;
            }
            #lightbox p {
                color: #fff;
                font-family: 'helvetica';
                font-size: 14px;
                margin-right: 20px;
                position: fixed;
                right: 0;
            }
            #lightbox .content {
                background: white;
                border-radius: 3px;
                margin: 100px auto;
                padding: 0.1em 1.5em 2em 1em;
                width: calc(100% - 100px);
            }

        </style>
    </head>
    <body>
        <div id="dashboard" class="dashboard frame">
            <%= erb :dashboard %>
            <% if !@query.nil? %>
            <div class="answer-index">
                <div style="display: none;">
                    <div id="pgp"><%= @pgp.to_json %></div>
                    <div id="mappings"><%= @mappings.to_json %></div>
                </div>
                <div>
                  Show below results of '<%= @query %>':
                </div>
                <div>
                  <input type="checkbox" id="show-only-has-answers">
                  <label for="show-only-has-answers">Show only sparqls with answers</label>
                </div>
                <div id="progress-bar"></div>
                <div id="answer-index"></div>
                <div id="lightbox" class="hidden">
                    <p>Click to close</p>
                    <div class="content"></div>
                </div>
            </div>
            <% end %>
        </div>
    </body>
    <% if !@query.nil? %>
    <script type="text/javascript" src="js/execute.js"></script>
    <% end %>
</html>
