<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LODQA : Question-Answering over Linked Open Data</title>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
        <link href="js/vender/codemirror/lib/codemirror.css" rel="stylesheet">

        <script src="js/vender/codemirror/lib/codemirror.js"></script>
        <script src="js/vender/codemirror/mode/sparql/sparql.js"></script>
        <script src="js/vender/codemirror/addon/wrap/hardwrap.js"></script>
    </head>
    <body>
        <div id="pgp"><%= @pgp.to_json %></div>
        <div id="mappings"><%= @mappings.to_json %></div>
        <div id="target"><%= @target %></div>
        <div id="lodqa-results"></div>
    </body>
    <script type="text/javascript" src="js/execute.js">
    </script>
</html>
