<div id="logo">
<a href="<%= request.base_url %>"><img src="images/logo.svg" alt="LODQA" id='logo' title="Question-Answering over Linked Open Data" /></a>
</div>

<nav id="main-nav">
<ul>
  <li><a href="<%= request.base_url %>">start</a></li>
  <li><a href="http://www.lodqa.org/docs/intro/">doc</a></li>
  <li><a href="https://github.com/lodqa/lodqa">github</a></li>
</ul>
</nav>
<br/>
<br/>
