<div class="note">
LODQA (Linked Open Data Question Answering) is an open source project aiming at developing a system to generate SPARQL queries from natural language queries.
</ul>
</div>

<div class="news">
<ul>
<li>(10/19/2014) <a href="http://2014.nliwod.org">NLIWoD 2014 Workshop</a> was held in Riva del Garda.</li>
<li>(02/17-21/2014) <a href="http://okbqa.org">OKBQA 2014 Hackathon</a> was held in Jeju.</li>
<li>(01/10/2014) Relation detection was improved to find the right pairs of terms in relation.</li>
<li>(12/20/2013) LODQA was launched as an open source project.</li>
</ul>
</div>

<h1>Prototype Demo</h1>
<p style="font-style:italic">The demo system targets DrugBank, SIDER, and Diseasome as included in QALD.</p>
<form name="query" method="get"
      action="/solutions"
      entype="multipart/form-data">
<input id="query" name="query" type="text" size="80" required="required" placeholder="Enter a natural language query." style="height:30px; width:80%" />
<input type="submit" value="submit" style="height:30px; width:100px" />
</form>

<script type="text/javascript">
  function setquery(query) {
    document.getElementById("query").value = query;
  }
</script>

<table>
<tr><td rowspan="2">Example</td></tr>
<tr><td>
<ul>
<li><a onclick="setquery(this.innerHTML)">what genes are associated with alzheimer disease?</a>
<li><a onclick="setquery(this.innerHTML)">what side effects are associated with streptomycin?</a>
<li><a onclick="setquery(this.innerHTML)">what drugs are used for diseases associated with the gene ALD?</a>
</ul>
</td></tr>
