<!DOCTYPE html>
<html lang="en">
<head>
  <title>LODQA : Question-Answering over Linked Open Data</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <link href="css/lodqa.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="header" class="frame">

<div id="slogan">
<b>Q</b>uestion-<b>A</b>nswering
over <b>L</b>inked <b>O</b>pen <b>D</b>ata
using Natural Language Queries.<br/>
</div>

<nav id="main-nav">
<ul>
  <li><a href="http://www.lodqa.org/docs/intro/">doc</a></li>
  <li><a href="https://github.com/lodqa/lodqa">github</a></li>
</ul>
</nav>
<br/>
<br/>

<form action="/analysis"
      method="get"
      entype="multipart/form-data"
      oninput="max_hop_value.value=max_hop.value">

<div id="logo">
<a href="http://lodqa.org"><img src="images/lodqa-logo.svg" alt="Logo" id='logo' /></a>
</div>

<input name="query" id="query" type="text" size="80"
	   required="required"
	   placeholder="Enter a natural language query."
	   style="height:30px; width:400px" />
<input type="submit"
	   value="Go"
	   style="height:30px" />

for
<select name="preset" id="preset">
  <option id="qald-biomed" value="qald-biomed">QALD-Biomed</option>
  <option id="bio2rdf-mashup" value="bio2rdf-mashup">Bio2RDF-Meshup</option>
  <option id="biogateway" value="biogateway">BioGateway</option>
  <option id="plant-ld" value="plant-ld">Plant-LD</option>
</select>
<a href="#config-detail" class="button" title="configure">...</a>
<br/>
<br/>
<fieldset>
<legend>Sample queries</legend>
<ul id="query-examples"></ul>
</fieldset>

<fieldset id="config-detail">
<legend>Configuration</legend>
<table>
<tr>
<th>End point</th>
<td><input name="endpoint_url" id="endpoint_url" type="url" placeholder="URL" style="width:99%" /></td>
</tr>
<tr>
<th>Graph</th>
<td><input name="graph_uri" id="graph_uri" type="url" placeholder="IRI" style="width:99%" /></td>
</tr>
<tr>
<th>Dictionary</th>
<td><input name="dictionary_url" id="dictionary_url" type="url" placeholder="URL" style="width:99%" /></td>
</tr>
<tr>
<th>Parser</th>
<td><input name="parser_url" id="parser_url" type="url" placeholder="URL" style="width:99%" /></td>
</tr>
<tr>
<th>Ignore Predicates</th>
<td><textarea name="ignore_predicates" id="ignore_predicates" type="text" maxlength="1000"
	   placeholder="newline-, tab-, or space-separated predicates."
	   style="height:50px; width:400px"></textarea><br/></td>
</tr>
<tr>
<th>Sortal Predicates</th>
<td><textarea name="sortal_predicates" id="sortal_predicates" type="text" maxlength="1000"
	   placeholder="newline-, tab-, or space-separated predicates."
	   style="height:50px; width:400px"></textarea></td>
</tr>
<tr>
<th>Max hop</th>
<td><input name="max_hop" id="max_hop" type="range" min="1" max="4" value="2" />
<output name="max_hop_value" id="max_hop_value" for="max_hop"></output></td>
</tr>
</table>

<fieldset>
<legend>You can also "GET" a configuration from the net</legend>
<input type="url" name="config" placeholder="URL" style="width:400px" />
</fieldset>

</fieldset>

</form>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<!-- <script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script> -->
<script type="text/javascript">
    function setConfiguration(config_id) {
		$.ajax({
			url: '/configs/' + config_id + '.json',
			dataType: 'json'
		}).done(function(config) {
			if ("description" in config) {
				$("#preset-menu .description").text(config.description);
			} else {
				$("#preset-menu .description").text('');
			}

			if ("queries" in config) {
				$("#query-examples").html("<li><a>" + config.queries.join("</a></li><li><a>") + "</a></li>");
				setQueriesCopiable();
			} else {
				$("#query-examples").html('');
			}

			if ("endpoint_url" in config) {
				$("#endpoint_url").val(config.endpoint_url)
			} else {
				$("#endpoint_url").val('')
			}

			if ("graph_uri" in config) {
				$("#graph_uri").val(config.graph_uri)
			} else {
				$("#graph_uri").val('')
			}

			if ("parser_url" in config) {
				$("#parser_url").val(config.parser_url)
			}

			if ("dictionary_url" in config) {
				$("#dictionary_url").val(config.dictionary_url)
			} else {
				$("#dictionary_url").val('')
			}

			if ("ignore_predicates" in config) {
				$("#ignore_predicates").val(config.ignore_predicates.join("\n"))
			}

			if ("sortal_predicates" in config) {
				$("#sortal_predicates").val(config.sortal_predicates.join("\n"))
			}

			if ("max_hop" in config) {
				$("#max_hop").val(config.max_hop); $("#max_hop_value").val(config.max_hop)
			}
	    });
	}

	function setQueriesCopiable () {
		$('#query-examples a').on('click', function() {
		    $("#query").val($(this).text());
		});		
	}

	function getUrlVars() {
		var vars = {};
		var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi,    
		function(m,key,value) {
		  vars[key] = value;
		});
		return vars;
	}

	$(function(){
		var preset = getUrlVars()["preset"];
		if (preset === undefined) {preset = "qald-biomed"}

		$('#' + preset).prop('selected', true);
		setConfiguration(preset);

		$('#preset').on('change', function() {
			setConfiguration("qald-biomed");
			setConfiguration($(this).val());
		});

		setQueriesCopiable();

	    $('#config-detail').hide();

	    $('a[href=#config-detail]').click(function(){
	        $($(this).attr('href')).toggle();
	        return false;
	    });
	});
</script>


</div>

<div id="main" class="frame">
	<%= yield %>
</div>

</div>
</body>
</html>
