<!DOCTYPE html>
<html lang="en">
<head>
  <title>LODQA - querying SPARQL endpoints using natural language</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <link href="css/lodqa.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="header" class="frame">
<div id="logo">
<a href="http://www.lodqa.org"><img src="images/lodqa-logo.svg" alt="Logo" id='logo' /></a>
</div>

<div id="slogan">
Querying linked open data using natural languages.<br/>
Sounds great? Let's realize it, together!
</div>

<nav id="main-nav">
<ul>
  <li><a href="http://www.lodqa.org/">Front</a></li>
  <li><a href="http://www.lodqa.org/motivation/">Motivation</a></li>
  <li><a href="http://www.lodqa.org/references/">References</a></li>
  <li><a href="http://www.lodqa.org/people/">People</a></li>
  <li><a href="https://github.com/lodqa/lodqa">github</a></li>
</ul>
</nav>
</div>

<div id="main" class="frame">
	<%= yield %>
</div>

</div>
</body>
</html>
