<!DOCTYPE html>
<html lang="en">
<head>
  <title>LODQA - querying SPARQL endpoints using natural language</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <link href="css/lodqa.css" media="screen" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="frame">
<div id="title">
<image id ="logo" src="images/lodqa-logo.svg" />
<div id="slogan">
Let's use natural language to query linked open data (LOD)!
</div>
</div>

<div id="menu">
<a class="item" href="/">Front</a>
<a class="item" href="motivation">Motivation</a>
<a class="item" href="participants">Participants</a>
<a class="item" href="references">References</a>
<a class="item" href="https://github.com/lodqa/lodqa">github</a>
</ul>
</div>

<div id="content">
<%= yield %>
</div>
</div>
</body>
</html>
