<p>The LODQA project is currently led by DBCLS (Database Center for Life Science), with participation of University of Colorado and Stanford University. However, the source code is freely available and contribution is open to any interested parties.
</p>

<h1>Participants</h1>
<ul>
<li>Jin-Dong Kim (Database Center for Life Science) (Project Coordinator)</li>
<li>Kevin Bretonnel Cohen (University of Colorado)</li>
<li>Michel Dumontier (Stanford University)</li>
</ul>
