<h1>Results</h1>
<div id="progress-bar">
  <div class="sparlq-progressbar"></div>
  <div class="detail-progressbar"></div>
</div>
<div id="lodqa-results"></div>

<script src="js/vender/codemirror/lib/codemirror.js"></script>
<script src="js/vender/codemirror/mode/sparql/sparql.js"></script>
