<h1>Prototype Demo (targeting <%= @oname %>)</h1>

<h2>Query</h2>
<div class="atext"><%= @query %></div>

<h2>Semantic analysis (predicate-argument relation graph)</h2>

<h2>SPARQL</h2>
<textarea id="sparql" name="sparql" maxlength="1200" required="required" style="height:100px; width:100%"><%= @sparql %></textarea>
</tr>

<h2>Results</h2>
<!-- <button type="button" onclick="enquire()">Send query to SPARQL endpoint</button><image id="loading" src="images/loader-vflff1Mjj.gif">  -->

<h1>Simple Echo / Chat Server</h1>
<form id="form">
 <input type="text" id="input" value="send a message"></input>
</form>
<div id="msgs"></div>


<script type="text/javascript">
  window.onload = function(){
    (function(){
      var show = function(el){
        return function(msg){ el.innerHTML = msg + '<br />' + el.innerHTML; }
      }(document.getElementById('msgs'));

      var ws       = new WebSocket('ws://localhost:9292/update');
      ws.onopen    = function()  { show('websocket opened'); };
      ws.onclose   = function()  { show('websocket closed'); }
      ws.onmessage = function(m) { show('websocket message: ' +  m.data); };

      var sender = function(f){
        var input     = document.getElementById('input');
        input.onclick = function(){ input.value = "" };
        f.onsubmit    = function(){
          ws.send(input.value);
          input.value = "send a message";
          return false;
        }
      }(document.getElementById('form'));
    })();
  }
</script>
