<% if @parse_rendering %>
	<h1>Parsing result (by <a href="http://kmcs.nii.ac.jp/enju/">Enju</a>)</h1>
	<div id="lodqa-parse_rendering"><%= @parse_rendering %></div>
<% else %>
	<h1>Results</h1>
	<p>Results of query analysis, SPARQL generation, and query execution will be shown in this pane.</p>
<% end %>

<script src="js/vender/codemirror/lib/codemirror.js"></script>
<script src="js/vender/codemirror/mode/sparql/sparql.js"></script>
