<h1>Graph Finder</h1>
<input id="beginSearch" type="button" value="Begin Search"></input>

<script src="js/vender/Springy/springy.js"></script>
<script src="js/vender/jQuery/dist/jquery.min.js"></script>
<script src="js/vender/eventemitter2/lib/eventemitter2.js"></script>
<script src="js/vender/Springy/springyui.js"></script>
<script src="js/lodqa-client.js"></script>
