<h1>Query</h1>
<div class="atext"><%= @query %></div>

<h1>Results</h1>
<div id="lodqa-messages"></div>
<div id="lodqa-results"></div>
<script src="js/lodqa-client.js" type="text/javascript"></script>
