<h1>Query</h1>
<div class="atext"><%= @query %></div>

<h1>Results</h1>
<div id="lodqa-messages"></div>
<div id="lodqa-results"></div>

<script src="js/vender/node-events/support/util.js"></script>
<script src="js/vender/node-events/events.js"></script>
<script src="js/vender/springy/springy.js"></script>
<script src="js/vender/jQuery/dist/jquery.min.js"></script>
<script src="js/vender/springy/springyui.js"></script>
<script src="js/vender/decompose-url/decompose-url.js"></script>
<script src="js/vender/lodash/dist/lodash.js"></script>
<script src="js/vender/promise-ext/dist/promise.min.js"></script>
<script src="js/loadSolution.js"></script>
<script src="js/loadSolutionStub.js"></script>
<script src="js/presentation/debugPresentation.js"></script>
<script src="js/presentation/tablePresentation.js"></script>
<script src="js/presentation/graphPresentation.js"></script>
<script src="js/presentation/websocketPresentation.js"></script>
<script src="js/lodqa-client.js"></script>
