<h1>Node example</h1>
<div class="result-region" id="lodqa-mappings">
    <table class="mapping-editor-table">
        <tbody>
            <tr>
                <th>node</th>
                <th>mappings</th>
            </tr>
            <tr class="mappings-node">
                <td>genes</td>
                <td>
                    http://www4.wiwiss.fu-berlin.de/diseasome/resource/diseasome/genes
                </td>
            </tr>
            <tr class="mappings-node">
                <td>alzheimer disease</td>
                <td>
                    http://www4.wiwiss.fu-berlin.de/diseasome/resource/diseases/74
                </td>
            </tr>
        </tbody>
    </table>
</div>

<h1>Graph Editor</h1>
<div class="node-editor">
    <div class="input-node">
        <label>Input Node</label><br>
        <input class="label" placeholder="label"></input>
        <button class="button" disabled>+</button>
    </div>
    <div class="edit-node hidden">
        <label>Edit Node</label><br>
        <input class="label" placeholder="label"></input>
        <button class="button" disabled>+</button>
        <button class="delete-button">delete</button>
        <button class="cancel-button">cancel</button>
    </div>
    <div class="edit-edge hidden">
        <label>Edit Edge</label><br>
        <input class="label" placeholder="label"></input>
        <button class="button" disabled>+</button>
        <button class="delete-button">delete</button>
        <button class="cancel-button">cancel</button>
    </div>
    <span class="warn"></span>
</div>
<div class="jsPlumb-container"></div>
<div class="pgp hidden"></div>
<div class="lookup">
    <button class="button">lookup all node</button>
</div>
<div class="table">
    <div class="node-table"></div>
    <div class="edge-table hidden"></div>
</div>
<div class="mappings hidden"></div>

<input id="beginSerach" type="button" value="Begin Search"></input>

<h1>Search results</h1>
<div id="lodqa-messages"></div>
<div id="lodqa-results"></div>

<script src="js/vender/springy/springy.js"></script>
<script src="js/vender/jQuery/dist/jquery.min.js"></script>
<script src="js/vender/eventemitter2/lib/eventemitter2.js"></script>
<script src="js/vender/springy/springyui.js"></script>
<script src="js/lodqa-client2.js"></script>
<script src="js/vender/jsPlumb/dist/js/dom.jsPlumb-1.7.5.js"></script>
<script src="js/vender/grapheditor/index.js"></script>
<script type="text/javascript">
    graphEditor('/lookup')
</script>
