#header {
    background-color: #fafafa;
    border-bottom: 1px solid #ebebeb;
    min-width: 1100px;
}

#logo {
    height: 30px;
    padding-left: 13px;
    padding-right: 12px;
    padding-top: 29px;
    width: 120px;
}

.target-display {
    display: none;
}

#nlq {
    margin-left: 4px;
    padding-top: 19px;
}

.datasets {
    margin-left: 1em;
}

.answer-index {
    font-size: 18px;
    min-width: 1100px;
    padding-top: 60px;
    padding-left: 161px;
}

.hidden {
    display: none;
}

.answers-for-dataset__answer-index {
    margin-top: 15px;
    min-height: 20em;
}

.answers-for-dataset__answer-index .solution {
    display: flex;
}

.answers-for-dataset__answer-index .answer {
    width: 700px;
}

.answers-for-dataset__answer-index .sparqls {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 1em;
    padding: 0;
}

.answers-for-dataset__answer-index .sparql {
    margin: 0 0.1em;
    min-width: 2em;
}

.answers-for-dataset__download {
    margin-top: 1em;
}

#lightbox {
    background: rgba(0, 0, 0, .7);
    height: 100%;
    left: 0;
    overflow-x: scroll;
    position: fixed;
    top: 0;
    width: 100%;
}

#lightbox p {
    color: #fff;
    font-family: 'helvetica';
    font-size: 14px;
    margin-right: 20px;
    position: fixed;
    right: 0;
}

#lightbox .content {
    background: white;
    border-radius: 3px;
    margin: 100px auto;
    padding: 0.1em 1.5em 2em 1em;
    width: calc(100% - 100px);
}


/* Integrated Answer Index */

.integrated-answer-index {
    margin-top: 1em;
    margin-bottom: 1em;
}

.integrated-answer-index__dataset-information-list {
    display: flex;
    padding-left: 600px;
}

.integrated-answer-index__dataset-information {
    margin-right: 1em;
}

.integrated-answer-index__dataset-information-row {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.integrated-answer-index__progressbar {
    width: 100%;
}

.integrated-answer-index__answer {
    display: flex;
}

.integrated-answer-index__answer-label {
    min-width: 600px;
}

.integrated-answer-index__dataset-sparql-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.integrated-answer-index__dataset-sparql {
    margin-right: 1em;
    width: 300px;
}

.integrated-answer-index__sparql-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.integrated-answer-index__sparql {
    margin: 0 0.1em;
    min-width: 3em;
}


/* answer 2 */

.content {
    padding-top: 32px;
    padding-left: 161px;
    padding-bottom: 10em;
}

.answer-summary {
    font-size: 18px;
    width: 600px;
}

.answer-summary__answer {
    height: 70px;
    margin-bottom: 26px;
}

.answer-summary__answer-label {
    border: none;
    color: #222;
    display: block;
    font-family: arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.6;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
}

.answer-summary__answer-label .answer-summary__sparql-link {
    text-decoration: none;
}

.answer-summary__answer-label .answer-summary__sparql-link:visited {
    color: #609;
}

.answer-summary__answer-label .answer-summary__sparql-link:link {
    color: #1a0dab;
}

.answer-summary__answer-url {
    height: 21px;
    line-height: 16px;
}

.answer-summary__answer-url__cite {
    color: #006621;
    font-size: 14px;
    font-style: normal;
}

.answer-summary__sparql-list {
    font-family: arial, sans-serif;
    font-size: small;
    line-height: 18px;
    list-style: none;
    margin: 4px 0 0 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.answer-summary__sparql-list:hover {
    overflow: visible;
    white-space: normal;
}

.answer-summary__sparql-list a {
    margin-right: 8px;
}

.answer-summary__sparql a {
    text-decoration: none;
}

.answer-summary__sparql a:link {
    color: #1a0dab;
}

.download-buttons {
    margin-bottom: 26px;
}

.download-buttons__download-json-button,
.download-buttons__download-tsv-button {
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
    box-sizing: border-box;
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    margin-right: 4px;
    line-height: 20px;
    text-transform: uppercase;
    z-index: 0;
    padding: 7px 12px 5px 12px;
}

.download-buttons__download-json-button:hover,
.download-buttons__download-tsv-button:hover {
    background-color: rgba(0,0,0,0.07);
}

.download-buttons__download-json-button:active,
.download-buttons__download-tsv-button:active {
    background-color: rgba(0,0,0,0.1);
}

.answer-summary-pages {
    display: flex;
    justify-content: space-between;
    width: 600px;
}

.answer-summary-pages__link-prev {
    display: inline-block;
    width: 100px;
}

.answer-summary-pages__page {
    display: inline-block;
    text-align: center;
    width: 20px;
}

.answer-summary-pages__link-label {
    color: #4285f4;
    cursor: pointer;
    font-size: 13px;
}

.answer-summary-pages__link-label--current {
    color: rgba(0, 0, 0, 0.87);
}

.answer-summary-pages__link-next {
    display: inline-block;
    text-align: right;
    width: 100px;
}

.summary-progressbar {
    width: 600px;
    margin-bottom: 1em;
}

.summary-progressbar__progressbar {
    width: 100%
}

.datasets-progressbar {
    margin-bottom: 1em;
    width: 600px;
}

.datasets-progressbar__infomation {
    display: flex;
    justify-content: space-between;
}

.datasets-progressbar__progressbar {
    width: calc(100% - 50px);
}

.detail-progressbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 350px;
}

.detail-progress-bar__sparqls {
    width: 588px;
}

.detail-progress-bar__sparqls__sparql {
    width: 4.81em;
}
