body {
    font-family: "Times New Roman", Times, serif;
    background-color: #bbbbbb;
    color: #222288;
}

a {text-decoration:none}
a {color:#6666ff}
a:hover {color:#222288}


#frame {
    position: relative;
    margin: auto;
    padding: 5px;
    width: 800px;
}

#title {
    margin-bottom: 5px;
    padding: 5px;
    box-shadow: 4px 4px 4px #888888;
    background-color: #ffffff;
}

#menu {
    position: absolute;
    width: 80px;
    padding: 5px;
    box-shadow: 4px 4px 4px #888888;
    background-color: #ffffff
}

#main {
    position: absolute;
    left: 100px;
    width: 695px;
    padding: 5px;
    box-shadow: 4px 4px 4px #888888;
    background-color: #ffffff
}

#logo {
    width:250px;
}

#slogan {
    font-size: medium;
    font-style: italic;
    color: #8888ff;
}

.item {
    display: block;
    font-size: medium;
}

.note {
    width: 40em;
    padding: 5px;
    margin-bottom: 20px;

    font-family: "Times New Roman", Times, sans-serif;
    font-size: medium;
    color:#444477;
    font-style:italic;
    line-height: 140%;
}

.news {
    border-style:solid;
    border-color:#ddddbb;
    border-width: 1px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    width: 40em;
    font-family: "Times New Roman", Times, sans-serif;
    background-color: #FFFFee;
}


.news:before {
    position:relative;
    top: -10px;
    left: 5px;
    padding: 2px;
    content: "News";
    color: #7777aa;
    background-color: #ffffff;
}

.news ul {
    margin: 0px;
}


.attention {
    font-style:italic;
    color:red;
}



h1 {
    width:30em;

    margin-top:20px;
    margin-bottom:10px;

    white-space:nowrap;

    font-size:large;
    font-weight:bold;
    /* fallback (Opera) */
    background: #333399;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #aaaaff, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear, left top, right top, from(#aaaaff), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(  StartColorStr='#aaaaff', EndColorStr='#FFFFFF', GradientType=1);
}

h2 {
    width:30em;
    border-style:solid;
    border-color:#5555FF;
    border-width: 0px 0px 2px 10px;
    padding-left:2px;
    margin-top: 30px;
    font-size: medium;
    color: #222288;
}

h3 {
    width:32em;

    margin-top:20px;
    margin-bottom:10px;
    padding:0px 2px;

    border-style:solid;
    border-color:#5555ff;
    border-width:0px 0px 1px 10px;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;

    font-size: medium;
}




#buttons {text-align:right; margin:5px; padding:5px}
#pages   {text-align:center; margin:5px; padding:5px}



table.list {
    border-style: none;
    /*border: 1px solid gray;*/
    border-spacing: 0px;
}

.list th {
    /*border-style: none;*/
    border: 1px solid gray;
    background: white;
    padding: 3px;
    text-align: center;
}

.list td {
    border: 1px solid gray;
    padding: 3px;
}

div.atext {
    width:800px;
    line-height:120%
}

.Focus {
    display:inline-block;
    margin-top:1px;
    margin-bottom:1px;
    background-color:#EECCCC;
}

.BNC {
    display:inline-block;
    margin-top:1px;
    margin-bottom:1px;
    background-color:#EEEECC;
}


#config {background-color: #EEEEEE}

.anchored_pgp-table {
    border: 1px solid black;
}

.anchored_pgp-table table {
    border-collapse: collapse;
    width: 100%;
}

.anchored_pgp-table th {
    background-color: #eee;
    border: 1px solid #b9b9b9;
    color: #333;
    padding: 6px;
}

.anchored_pgp-table td {
    background-color: #fff;
    border: 1px solid #b9b9b9;
    padding: 6px;
}
