body {margin:0px; padding:5px; width:800px}

#title {
    font-family: Verdana, Geneva, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    color: #000000;
}

h1 {
    font-family: Pristina, fantasy, sans-serif;
    font-size: xx-large;
    margin: 0px;
    margin-bottom: 15px;
}

h2 {
    font-size: x-large;
    text-decoration: underline;
}

a {text-decoration:none}

a {color:black}
a:hover {color:purple}

.note {
    color:#777777;
    font-size:small;
    font-style:italic;
}


#buttons {text-align:right; margin:5px; padding:5px}
#content {margin:5px; padding:5px}
#pages   {text-align:center; margin:5px; padding:5px}


.frame {
	width:100%;
    border-style:none;
	border-width:0px;
	text-align:left
}

.frame th {
	border-width:0px;
}

.frame td {
	border-width:0px;
}

.frame thead {
	text-align:right;
	font-style:italic;
}
.frame tbody {}

.frame tfoot {
	padding-top:2cm;
	text-align:center;
	font-style:italic;
}

.frame th {text-align:left; background-color: #EECCCC}
.frame th {
    /* fallback (Opera) */
    background: #EECCCC;
    /* Mozilla: */
    background: -moz-linear-gradient(left, #00FF00, #FFFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, right top, from(#00FF00), to(#FFFFFF));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#00FF00', EndColorStr='#FFFFFF', GradientType=1);
}

table.list {
    border-style: none;
    /*border: 1px solid gray;*/
    border-spacing: 0px;
}

.list th {
    /*border-style: none;*/
    border: 1px solid gray;
    background: white;
    padding: 3px;
    text-align: center;
}

.list td {
    border: 1px solid gray;
    padding: 3px;
}

div.atext {
    width:800px;
    line-height:120%
}

.Focus {
    display:inline-block;
    margin-top:1px;
    margin-bottom:1px;
    background-color:#EECCCC;
}

.BNC {
    display:inline-block;
    margin-top:1px;
    margin-bottom:1px;
    background-color:#EEEECC;
}



#config {background-color: #EEEEEE}

