body {
    font-family: "Times New Roman", Times, serif;
    background-color: #bbbbbb;
    color: #222288;
}

a {
    text-decoration: none
}

a {
    color: #6666ff
}

a:hover {
    color: #222288
}

.frame {
    position: relative;
    border-style: solid;
    border-width: 2px;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: 4px 4px 4px #888888;
}

.dashboard {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 600px;
    max-height: 97%;
    overflow: auto;
}

.dashboard--back {
    z-index: -1;
}

#header {
    display: block;
    height: 50px;
    margin: 0;
    margin-bottom: 20px;
}

#logo-box {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    margin-right: 5px;
}

#logo {
    vertical-align: bottom;
    height: 100%;
}

#target-display {
    font-size: x-large;
}

#slogan {
    display: inline-block;
    font-size: small;
    font-style: italic;
    color: #8888ff;
}

#logo-sub-box {
    display: inline-block;
    position: absolute;
    right: 0px;
}

#main-nav {
    font-size: small;
}

#main-nav li {
    margin: 0;
}

#main-nav li a {
    border-radius: 5px;
    font-weight: 800;
    padding: 0.2em 0.4em;
    text-shadow: none;
    text-transform: uppercase;
    transition: all .25s;
    -moz-transition: all .25s;
    -webkit-transition: all .25s;
}

#main-nav li a:hover {
    background: #ffffee;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .5), 0 1px 0 rgba(255, 255, 255, .1);
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

#main-nav li a:current {
    background: #fc0;
    color: #222;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .5), 0 1px 5px rgba(0, 0, 0, .5);
    text-shadow: 0 1px 0 rgba(255, 255, 255, .3);
}

#target-box {
    margin-top: 15px;
}

.results {
    position: absolute;
    width: 740px;
    padding-left: 30px;
    z-index: 2;
}

.results--hidden {
   display: none;
}

.results--back {
   z-index: -1;
}

.examples {
    left: 7px;
    padding-left: 15px;
    position: fixed;
    top: 135px;
    width: 533px;
}

.examples--hidden {
    display: none;
}

@media (max-width: 1350px) {
    #results {
        right: 4px;
    }
}

@media (min-width: 1351px) {
    #results {
        left: 570px;
    }
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #7777ff;
}

#query-examples {
    display: inline-block;
}

#query {
    display: inline-block;
    width: 420px;
    height: 30px;
    padding: 0;
}

#sample_queries2 {
    width: 60px;
}

.dashboard__exapmle-button,
#graphicateButton {
    display: inline-block;
    height: 34px;
    width: 80px;
}

#graphicateButton {
  padding: 1px 0
}
.jsPlumb-container {
    border: 1px solid green;
    margin: 5px 0;
}

.table {
    margin: 2px 0;
}

#lodqa-messages {
    position: fixed;
    top: 4px;
    right: 4px;
    height: 30px;
    text-align: center;
    z-index: 2;
}

.lodqa-message {
    margin: auto;
    padding: 1px;
    border: 2px solid red;
    border-radius: 5px;
    background-color: #ffff66;
    text-align: center;
}

#beginSearch, #stopSearch {
    height: 34px;
    width: 100px;
}

.item {
    display: block;
    font-size: medium;
}

.note {
    width: 40em;
    padding: 5px;
    margin-bottom: 20px;
    font-family: "Times New Roman", Times, sans-serif;
    font-size: medium;
    color: #444477;
    font-style: italic;
    line-height: 140%;
}

.news {
    border-style: solid;
    border-color: #ddddbb;
    border-width: 1px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    width: 40em;
    font-family: "Times New Roman", Times, sans-serif;
    background-color: #FFFFee;
}

.news:before {
    position: relative;
    top: -10px;
    left: 5px;
    padding: 2px;
    content: "News";
    color: #7777aa;
    background-color: #ffffff;
}

.news ul {
    margin: 0px;
}

.attention {
    font-style: italic;
    color: red;
}

h1 {
    width: 20em;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 1px 5px;
    white-space: nowrap;
    font-size: medium;
    font-weight: bold;
    background: linear-gradient(45deg, #ffff66, #ffffff);
}

h2 {
    width: 30em;
    border-style: solid;
    border-color: #5555FF;
    border-width: 0px 0px 2px 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 2px;
    margin-top: 30px;
    font-size: medium;
    color: #222288;
}

h3 {
    width: 32em;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 0px 2px;
    border-style: solid;
    border-color: #5555ff;
    border-width: 0px 0px 1px 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: medium;
}

.help-icon {
    margin: 0 10px;
    color: #88f;
}

#buttons {
    text-align: right;
    margin: 5px;
    padding: 5px
}

#pages {
    text-align: center;
    margin: 5px;
    padding: 5px
}

table.list {
    border-style: none;
    /*border: 1px solid gray;*/
    border-spacing: 0px;
}

.list th {
    /*border-style: none;*/
    border: 1px solid gray;
    background: white;
    padding: 3px;
    text-align: center;
}

.list td {
    border: 1px solid gray;
    padding: 3px;
}

div.atext {
    width: 800px;
    line-height: 120%
}

#config {
    background-color: #EEEEEE
}


/* comon style */

.list-in-table {
    list-style-type: none;
    padding-left: 0;
}


/* result-region */

.result-region table, .answers-region__answers-table table {
    border-collapse: collapse;
    width: 100%;
}

.result-region th, .answers-region__answers-table th {
    background-color: #eee;
    border: 1px solid #b9b9b9;
    color: #333;
    padding: 6px;
}

.result-region td, .answers-region__answers-table td {
    background-color: #fff;
    border: 1px solid #b9b9b9;
    padding: 6px;
}


.sparql-region .CodeMirror {
    height: auto;
}

/* anchored_pgp-table */

.anchored_pgp-region {
    margin: 16px 0 8px 0;
}

.anchored_pgp-table .focus td {
    color: #FF512C;
}

.answers-region, .sparql-region {
    margin-top: 30px;
}

.answers-region__title, .sparql-region__title {
    display: flex;
}

.answers-region__title__heading, .sparql-region__title__heading {
    margin-top: 0;
}

.answers-region__title__button, .sparql-region__title__button {
    margin-top: 3px;
}

.answers-region__answers-list--hide,
.answers-region__answers-table--hide,
.answers-region__graph--hide {
  display: none;
}

.sparql-region__sparql {
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
    font-size: 0.8em;
    overflow: hidden;
    max-height: 100em;
    transition: all 1s ease-in;
}

.sparql-region__sparql--hide {
    max-height: 0;
    transition: all 0.3s ease-out;
}
