.progress-bar__simple-progress-bar__progress {
    margin-left: 2px;
    width: 472px;
}

.progress-bar__simple-progress-bar__percentage {
    display: inline-block;
    margin-right: 0.1em;
    text-align: right;
    vertical-align: top;
    width: 3em;
}

.progress-bar__simple-progress-bar__show-detail-checkbox {
    vertical-align: super;
}

.detail-progress-bar--hidden {
    display: none;
}

.detail-progress-bar__sparql-list {
    background-color: #222288;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 2px;
    padding: 0;
    width: 933px;
}

.detail-progress-bar__sparql {
    background-color: darkgray;
    margin: 2px;
    padding: 1px 2px 2px 1px;
    width: 4.79em;
}

.detail-progress-bar__sparql--has-answer, .detail-progress-bar__sparql--no-answer, .detail-progress-bar__sparql--error {
    background-color: white;
}

.detail-progress-bar__sparql-number {
    display: inline-block;
    min-width: 2.1em;
}

.detail-progress-bar__sparql--progress .detail-progress-bar__sparql__loading {
    color: mediumvioletred;
    display: inline;
}

.detail-progress-bar__sparql__selected-answers-checkbox {
    display: none;
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.detail-progress-bar__number-of-answers {
    color: darkgrey;
    cursor: default;
    display: none;
}

.detail-progress-bar__sparql--has-answer .detail-progress-bar__number-of-answers {
    display: inline-block;
    border-radius: 3px;
    font-weight: normal;
    padding: 0px 6px;
    text-align: right;
    width: 1.66em;
}

.detail-progress-bar__sparql--has-answer .detail-progress-bar__sparql__selected-answers-checkbox:checked+.detail-progress-bar__number-of-answers {
    border-style: inset;
    color: rgb(43, 128, 255);
    font-weight: bold;
    position: relative;
    top: 1px;
}

.detail-progress-bar__sparql--no-answer .detail-progress-bar__number-of-answers, .detail-progress-bar__sparql--error .detail-progress-bar__number-of-answers {
    background-color: transparent;
    background-image: none;
    border: none;
    cursor: default;
    display: inline-block;
    font-weight: normal;
    padding: 0;
}

.detail-progress-bar__sparql--no-answer .detail-progress-bar__number-of-answers {
    color: darkgrey;
}

.detail-progress-bar__sparql--error .detail-progress-bar__number-of-answers {
    color: orangered;
}

.detail-progress-bar__sparql-list__no-sparql-message {
    color: white;
    margin-left: 0.3em;
}
