#progress-bar .simple-progress-bar progress {
    margin-left: 2px;
    width: 470px;
}

#progress-bar .simple-progress-bar #simple-progress-bar__percentage {
    display: inline-block;
    margin-right: 0.1em;
    text-align: right;
    vertical-align: top;
    width: 3em;
}

#progress-bar .simple-progress-bar .checkbox {
    vertical-align: super;
}

#progress-bar .detail-progress-bar .sparqls {
    background-color: #222288;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 2px;
    padding: 0;
    width: 628px;
}

#progress-bar .sparql {
    background-color: darkgray;
    margin: 2px;
    padding: 1px 2px;
    width: 5.1em;
}

#progress-bar .sparql.no-answer {
    background-color: white;
    color: darkgray;
}

#progress-bar.show-only-has-answers .sparql.no-answer {
    display: none;
}

#progress-bar .sparql .except-from-answers {
    display: none;
}

#progress-bar .sparql.has-answer {
    background-color: white;
}

#progress-bar .sparql.has-answer .except-from-answers {
    display: inline-block;
}

#progress-bar .sparql-number {
    display: inline-block;
    min-width: 2.1em;
}

#progress-bar .number-of-answers {
    display: inline-block;
    min-width: 1.3em;
    text-align: right;
}

#progress-bar .number-of-answers .fa-spinner {
    color: mediumvioletred;
}

#progress-bar .no-sparql {
    color: white;
    margin-left: 0.3em;
}
