.detail-progressbar__sparql-list {
    background-color: #222288;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0 2px;
    padding: 0;
}

.detail-progressbar__sparql {
    background-color: darkgray;
    margin: 2px;
    padding: 1px 2px 2px 1px;
}

.detail-progressbar__sparql--has-answer, .detail-progressbar__sparql--no-answer, .detail-progressbar__sparql--error {
    background-color: white;
}

.detail-progressbar__sparql-number {
    display: inline-block;
    min-width: 2.1em;
}

.detail-progressbar__sparql--progress .detail-progressbar__sparql__loading {
    color: mediumvioletred;
    display: inline;
}

.detail-progressbar__sparql__selected-answers-checkbox {
    display: none;
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.detail-progressbar__number-of-answers {
    color: darkgrey;
    cursor: default;
    display: none;
}

.detail-progressbar__sparql--has-answer .detail-progressbar__number-of-answers {
    display: inline-block;
}

.detail-progressbar__sparql--has-answer .detail-progressbar__sparql__selected-answers-checkbox:checked+.detail-progressbar__number-of-answers {
    border-style: inset;
    color: rgb(43, 128, 255);
    font-weight: bold;
    position: relative;
    top: 1px;
}

.detail-progressbar__sparql--no-answer .detail-progressbar__number-of-answers, .detail-progressbar__sparql--error .detail-progressbar__number-of-answers {
    background-color: transparent;
    background-image: none;
    border: none;
    cursor: default;
    display: inline-block;
    font-weight: normal;
    padding: 0;
}

.detail-progressbar__sparql--no-answer .detail-progressbar__number-of-answers {
    color: darkgrey;
}

.detail-progressbar__sparql--error .detail-progressbar__number-of-answers {
    color: orangered;
}

.detail-progressbar__waiting-sparql-message {
    color: white;
    line-height: 1.5em;
    margin-left: 0.3em;
}
