<ul>
<li><a href="{{site.baseurl}}/swat4ls-tutorial/">A tutorial on natural language interfaces for SPARQL endpoint</a> for <a href="http://www.swat4ls.org/workshops/berlin2014/">SWAT4LS</a> in Berlin (Dec. 9, 2014)

<li><a href="http://www.nliwod.org">NLIWoD 2014</a> workshop was collocated with <a href="http://iswc2014.semanticweb.org/">ISWC2014</a> in Trentino (Oct. 19, 2014).</li>
<li><a href="http://2014.okbqa.org">OKBQA 2014</a> hackathon was held in Jeju (Feb. 17-21, 2014).</li>
<li>LODQA launched as an open source project (Dec. 20, 2013).</li>
</ul>