<section>
  <ul>
    <li>LODQA is a natural language interface to SPARQL endpoints.</li>
    <li>LODQA is an open source project.</li>
  </ul>
</section>
<div style="text-align: right">
  <i>Presented by</i>
  <img src="images/dbcls-logo.png" style="height:30px; vertical-align: middle">
  <img src="images/nbdc-logo.png" style="height:20px; vertical-align: middle">
</div>
